<?xml version="1.0"?>
<vxml version="2.1">

<form id="parrot">
   <block>
      Hello World. This is my first telephone application.
   </block>
   <field name="main">
      <prompt> 
	  Would you like to hear the weather, get sports news or hear a stock quote?  Say quit to exit. 
      </prompt>
<grammar src="http://suendermann.com/parrot.gram" type="application/x-jsgf"/>
   </field>
   <block>
      Goodbye.
   </block>
</form>

</vxml>
