<h1> Dialogue Manager 0.2 </h1>

<p> The search query should be like this </p>

<p> /find/q_keyword=oxygen&q_type=when </p>
<p> /find/q_keyword=oxygen&q_type=who </p>
<p> /http://it-tjr2.dhbw-stuttgart.de:8080/hello/echo?question=Who+discovered+Oxygen%3F%0D%0A&secret=888 </p>