<form id="parrot">
  <!--  <block>
      Welcome to the spoken dialogue system research center.  You are now calling OpenEphyra question answering service
   </block> -->
   <block>
      The answer is <%= @answer_OpenEphyra %>.
   </block>
   <block>
      Goodbye.
   </block>
   <block> 
      <disconnect/> 
   </block> 
</form>