<?xml version="1.0"?>
<vxml version="2.1">
   <!-- <form id="parrot"> -->
      <!-- <block> -->
         <!-- Welcome to the spoken dialogue system research center.  You are now calling OpenEphyra question answering service -->
         <!-- <goto next="http://it-tjr2.dhbw-stuttgart.de/find/q=when%20was%20oxygen%20discovered"/> -->
      <!-- </block>
   </form> -->



<form id="HelloWorld">
  <block> <prompt>Hello there my dear friend, we are testing this page java script. Hope it works !!! </prompt></block>


<block> <prompt>Testing multiple blocks. Hope it does fucking work. </prompt></block>

    <block>
      <script>
        <![CDATA[

          var thesecond = " Test Test Test Test Test Test "

          function sayasDigits()
          {
            var digitNumber = "Hello there my friend, Hello Hello Hello Hello !!!!!"
            return digitNumber;
          }
        ]]>
      </script>


    <prompt>

      <value expr="thesecond"/>
      <value expr="sayasDigits()"/>

    </prompt>
    </block>
  </form>



</vxml>

