<?xml version="1.0"?>
<vxml version="2.1">
   <form id="parrot">
      <block>
         Welcome to the spoken dialogue system research center.  You are now calling OpenEphyra question answering service
      </block>
   </form>
</vxml>

