<form id="myForm"> 
  <field name="myVar" cond="true">
    <prompt> 
      Welcome to the spoken dialogue system research center.  You are now calling OpenEphyra question answering service. You can ask a questions like when was oxygen discovered. 
    </prompt>
    <!-- <grammar src="http://it-tjr7.dhbw-stuttgart.de/david/qa.gram" type="application/x-jsgf"/> -->
    <grammar src="http://it-tjr7.dhbw-stuttgart.de/questions.gram" type="application/x-jsgf"/>
  </field> 
  <filled mode="any" namelist="myVar"> 
  <prompt> The question you asked was <value expr="myVar"/></prompt> 
  </filled>
  <block>
    <script src="http://it-tjr7.dhbw-stuttgart.de/parser.js"/>
    <!-- <var name="url" expr="'http://it-tjr2.dhbw-stuttgart.de/'"/> -->
    <!-- <var name="qstr" expr="'team=lakers&amp;city=nyc'"/> -->
    <!-- <goto expr="server + '?' + qstr"/> -->
    <goto expr="makeURL(myVar)"/>
  </block>
</form> 

